@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew&display=swap'); 
@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-family: 'Noto Sans Hebrew', sans-serif;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


